.main {
  min-height: 100vh;
  width: 100%;
}

.title {
  & mark {
    color: var(--color-primary);
    background-color: transparent;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: var(--space-lg);

  @media (width >= 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (width >= 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (width >= 1920px) {
    grid-template-columns: repeat(3, 430px);
  }
}
